*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
nav .container{
    padding:2rem 12rem;
}
nav .container .general{
    align-items: center;
    display: flex;
}
nav .container .first a{
    font-size: 12.23px;
    color:#373737;
    font-weight: bold;
    line-height: 18.345px;
    
} 
nav .container .second a{
    font-size: 16px;
    color:#151515;
    font-weight:400;
    line-height: 24px;
    
}
nav .container .general .first{
    width:23%;
    
}
nav .container .general .second{
    display: flex;
    width:77%;
    justify-content: space-between;
    
}
nav .container .second .window{
width:10%;
}
nav .container .second .window2{
    width:5%;
}
#first{
    background-color: #FBFBFB;

}
#first .container{
    padding:2rem 12rem;
   
  
}
#first .container .general{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
#first .container .general .left-box{
    width:58%;
}
#first .container .general .right-box{
    width:39%;
}
#first .container .general .left-box img{
    width: 100%;
    border-radius: 8px;
    height: 400px;
}

#first .container .general .right-box {
 padding:0px 30px;
text-align: right;
align-items: center;

}
#first .container .general .right-box .box span{
color:#FFFFFF;
font-size: 18px;
}
#first .container .general .right-box .box .f{
background-color: #69ACF1;
border-color:#69ACF1;
}
#first .container .general .right-box .box .h{
    background-color: #0EC4A3;
    border-color: #0EC4A3;
    
}
#first .container .general .right-box .box .a{
    border-color: #FFFFFF;
}
#first .container .general .right-box .box button{
    height: 124px;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 15px;
    overflow: hidden;
   
    
}


